# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/

# PyInstaller
output/
build/
dist/
*.spec

# IDE
.vscode/
.idea/

# Environment
.env
src/config/

src/error_log.txt

src/core/video2gif.py
